<div class="container-fluid py-2 border"
*ngIf="employee"
(click)="router.navigateByUrl('/edit', {state: {data : this.employee}})"
(keyup)="router.navigateByUrl('/edit', {state: {data : this.employee}})">
    <div class="fw-bold py-1=">
        {{employee.name}}
    </div>
    
    <div class="py-1 text-secondary">
        {{employee.role}}
    </div>
    
    <div class="py-1 text-secondary"
    *ngIf="employee.fromDate && employee.toDate">
        {{employee.fromDate | date: 'dd MMM, YYYY'}} - {{employee.toDate | date: 'dd MMM, YYYY'}}
    </div>
    
    <div class="py-1 text-secondary"
    *ngIf="employee.fromDate && !employee.toDate">
        From {{employee.fromDate | date: 'dd MMM, YYYY'}}
    </div>
</div>