<nav class="navbar navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			{{ mode === 'add' ? 'Add' : 'Edit' }}
            Employee Details
		</a>
	</div>
</nav>

<div class="container py-2">
    <form>
        <div class="row">
            <div class="col-12">
                <div class="input-group my-1">
                    <span class="input-group-text bg-white border border-end-0 text-primary"
                    id="name">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>

                    <input class="form-control border border-start-0"
                    type="text"
                    placeholder="Employee name">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group my-1">
                    <span class="input-group-text bg-white border border-end-0 text-primary"
                    id="role">
                        <fa-icon [icon]="faBriefcase"></fa-icon>
                    </span>

                    <select class="form-select border border-start-0">
                        <option
                        value=""
                        disabled
                        selected>
                            Select role
                        </option>
                        
                        <option
                        *ngFor="let role of roles"
                        [value]="roles">
                            {{role}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-5">
                <div class="input-group my-1">
                    <span class="input-group-text bg-white border border-end-0 text-primary"
                    id="fromDate">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </span>

                    <input class="form-control border border-start-0"
                    type="date"
                    placeholder="Today">
                </div>
            </div>

            <div class="col-2 text-primary align-self-center text-center">
                <div class="my-1">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                </div>
            </div>

            <div class="col-5">
                <div class="input-group my-1">
                    <span class="input-group-text bg-white border border-end-0 text-primary"
                    id="toDate">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </span>

                    <input class="form-control border border-start-0"
                    type="date"
                    placeholder="Today">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="fixed-bottom text-end py-2 border-top">
	<a class="btn btn-light text-primary me-3"
	routerLink="/add">
		Cancel
	</a>

	<button class="btn btn-primary me-3"
	routerLink="/add">
		Save
    </button>
</div>