<nav class="navbar navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			Employee List
		</a>
	</div>
</nav>

<div *ngIf="currentEmployees().length || pastEmployees().length">
	<div *ngIf="currentEmployees().length">
		<div class="navbar navbar-dark"
		style="background-color: #e9e6e6 !important;">
			<div class="container-fluid">
				<a class="navbar-brand text-primary" href="#">
					Current employees
				</a>
			</div>
		</div>

		<div *ngFor="let employee of currentEmployees()">
			<app-emp-list
			[employee]="employee">
			</app-emp-list>
		</div>
	</div>

	<div *ngIf="pastEmployees().length">
		<div class="navbar navbar-dark navbar-dark"
		style="background-color: #e9e6e6 !important;">
			<div class="container-fluid">
				<a class="navbar-brand text-primary" href="#">
					Previous employees
				</a>
			</div>
		</div>

		<div *ngFor="let employee of pastEmployees()">
			<app-emp-list
			[employee]="employee">
			</app-emp-list>
		</div>
	</div>
</div>


<div class="image-container"
*ngIf="currentEmployees().length == 0 && pastEmployees().length == 0">
	<img id="no-record-found-img"
	src="https://www.bookmypressrelease.com/images/NoRecordFound.gif"
	alt="No Record Found">
</div>


<div class="fixed-bottom">
	<a class="btn btn-primary btn-fixed-buttom-right"
	routerLink="/add">
		<fa-icon [icon]="faPlus"></fa-icon>
	</a>
</div>